<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">{{'home_page.header.title_sm' | translate}}</div>
        <div class="masthead-heading text-uppercase">{{'home_page.header.title_lg' | translate}}</div>
        <a *ngIf="!isLoged" class="btn btn-primary btn-xl text-uppercase me-3" data-bs-toggle="modal" href="" routerLink="/login">{{'home_page.header.button' | translate}}</a>                     
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{'home_page.sect1.title' | translate}}</h2>
            <h3 class="section-subheading text-muted">{{'home_page.sect1.subtitle' | translate}}</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="far fa-clock fa-stack-1x fa-inverse"></i>                                                        
                </span>
                <h4 class="my-3">{{'home_page.sect1.sub1.title' | translate}}</h4>
                <p class="text-muted">{{'home_page.sect1.sub1.paragraph' | translate}}</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-balance-scale-right fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">{{'home_page.sect1.sub2.title' | translate}}</h4>
                <p class="text-muted">{{'home_page.sect1.sub2.paragraph' | translate}}</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">{{'home_page.sect1.sub3.title' | translate}}</h4>
                <p class="text-muted">{{'home_page.sect1.sub3.paragraph' | translate}}</p>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{'home_page.sect2.title' | translate}}</h2>
            <h3 class="section-subheading text-muted">{{'home_page.sect2.subtitle' | translate}}</h3>
        </div>
        <!-- Card ITEM -->
        <p *ngIf="!activities.length">No ha habido ningún intercambio</p>
        <app-card class="row" [activities]="activities" [isLoged]="isLoged" [userId]="userId"></app-card>

    </div>
</section>
<!--Seccion de registro de usuario-->
<section class="page-section">
    <div class="container" id="participate">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{'home_page.sect3.title' | translate}}</h2>            
        </div>
        <div class="row py-5">
            <div class="col-md-6 d-flex justify-content-end">
                <p class="col-md-10">{{'home_page.sect3.paragraph' | translate}}</p>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <a class="btn btn-primary btn-xl text-uppercase"  routerLink="/registro">{{'home_page.sect3.button' | translate}}</a>       
            </div>
        </div>
    </div>

</section>
