<!-- Masthead-->
<header class="masthead">
    <div class="container ">
        <div class="masthead-subheading  ">{{'home_page.header.title_sm' | translate}}</div>
        <div class="masthead-heading text-uppercase">{{'home_page.header.title_lg' | translate}}</div>
        <!--<a *ngIf="!isLoged" class="btn btn-primary btn-xl text-uppercase me-3" data-bs-toggle="modal" href="" routerLink="/login">{{'home_page.header.button' | translate}}</a>-->                     
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{'home_page.sect1.title' | translate}}</h2>
            <h3 class="section-subheading text-muted">{{'home_page.sect1.subtitle' | translate}}</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="far fa-clock fa-stack-1x fa-inverse"></i>                                                        
                </span>
                <h4 class="my-3">{{'home_page.sect1.sub1.title' | translate}}</h4>
                <p class="text-muted">{{'home_page.sect1.sub1.paragraph' | translate}}</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-balance-scale-right fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">{{'home_page.sect1.sub2.title' | translate}}</h4>
                <p class="text-muted">{{'home_page.sect1.sub2.paragraph' | translate}}</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">{{'home_page.sect1.sub3.title' | translate}}</h4>
                <p class="text-muted">{{'home_page.sect1.sub3.paragraph' | translate}}</p>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{'home_page.sect2.title' | translate}}</h2>
            <h3 class="section-subheading text-muted">{{'home_page.sect2.subtitle' | translate}}</h3>
        </div>
        <!-- Card ITEM -->
        <p *ngIf="!activities.length">{{'alerts.no_results' | translate}}</p>
        <div class="row">
                       
                <!-- Portfolio item 1-->
                <div *ngFor="let activity of activities" class="portfolio-item shadow-sm bg-white pt-2 mb-4">
                    <h5 class="mt-3 text-center ">{{activity.title}}</h5>
                    <h5 class="text-muted text-center">{{activity.category}}</h5>  
                    <h6 class="text-center pb-2">{{activity.DateRequest}}</h6> 
                    <div class="" >                
                        <img class="img-fluid" src="{{activity.categoryPicture}}" alt="img_cat">
                    </div>
                                                                                    
                    <div class="portfolio-caption justify-content-between aling-items-center pt-3 pb-3 bg-white" >                                              
                        <div class="col-2 col-md-2 pt-2">
                            <!--Imagen de usuario que solicita la actividad-->
                                <img src="{{activity.userPicture || './assets/img/user-icons/generic_user.png'}}" class="imgContent rounded-circle shadow">
                                               
                        </div> 
                        <div class="col-8 col-md-8 d-flex flex-column align-self-center">                        
                            <h6 class="text-start ms-3 mb-1">{{activity.firstName}} {{activity.lastName}}</h6><!--Datos de la persona que solicita la actividad-->
                            <!--<span class="mx-auto"><i class="fa-solid fa-arrows-rotate"></i></span>-->                                
                            <h6 class="text-end me-3 mb-0 mt-1">{{activity.nameOwner}}</h6><!--Datos de la persona que publicado la actividad-->  
                        </div>
                        <div class="col-2 col-md-2 pt-2 ">
                            <!--Imagen de usuario que ha publicado la actividad-->
                                <img src="{{activity.pictureOwner || './assets/img/user-icons/generic_user.png'}}" class="imgContent rounded-circle shadow">
                                               
                        </div>
                    </div>                                   
                </div>
            
        </div>
    </div>
</section>
<!--Seccion de registro de usuario-->
<section *ngIf="!isLoged" class="page-section">
    <div class="container" id="participate">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{'home_page.sect3.title' | translate}}</h2>            
        </div>
        <div class="row py-5">
            <div class="col-md-6 d-flex justify-content-end">
                <p class="col-md-10">{{'home_page.sect3.paragraph' | translate}}</p>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <a class="btn btn-primary btn-xl text-uppercase"  routerLink="/registro">{{'home_page.sect3.button' | translate}}</a>       
            </div>
        </div>
    </div>
</section>



