<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Tiempo cuando lo necesitas</div>
        <div class="masthead-heading text-uppercase">por tiempo cuando puedas</div>
        <a *ngIf="!isLoged" class="btn btn-primary btn-xl text-uppercase me-3" data-bs-toggle="modal" href="" routerLink="/login">Iniciar sesión</a>                     
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">BANCO DEL TIEMPO</h2>
            <h3 class="section-subheading text-muted">Tiempo cuando lo necesitas por tiempo cuando puedas</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="far fa-clock fa-stack-1x fa-inverse"></i>                                                        
                </span>
                <h4 class="my-3">Que es un banco del tiempo</h4>
                <p class="text-muted">Es un sistema que promueve la ayuda entre nosotros motivados por el intercambio de tiempo, de manera que se crea una alternativa economico-social.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-balance-scale-right fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Como funciona</h4>
                <p class="text-muted">Se trata de intercambiar habilidades a cambio de tiempo entre los miembros de la comunidad, de esta manera se genera una especie de saldo de horas el cual se ira incrementando o disminuyendo en funcion de los servicios prestados o recibidos.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Que me ofrece</h4>
                <p class="text-muted">Desde intercambio de tareas de la vida cotidiana, a intercambio de conocimientos mas complejos.</p>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Ultimos Intercambios</h2>
            <h3 class="section-subheading text-muted">Usuarios que ofrecen su tiempo</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/1.jpg" alt=".." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="col-2 col-md-3">
                            <a href="">
                                <img src="assets/img/team/1.jpg" class="img-fluid rounded-circle">
                            </a>
                        </div>
                        <div id="portfolioUsuarios"class="col-10 col-md-9">
                        <p class="portfolio-caption-heading">Juan Garcia</p>
                        <p class="portfolio-caption-subheading text-muted text">20-08-2022</p>
                        <p class="portfolio-caption-subheading text-muted text">Cuidado de animales</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/2.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="col-2 col-md-3">
                            <a href="">
                                <img src="assets/img/team/3.jpg" class="img-fluid rounded-circle">
                            </a>
                        </div>
                        <div id="portfolioUsuarios"class="col-10 col-md-9">
                        <p class="portfolio-caption-heading">Mikel Olaizola</p>
                        <p class="portfolio-caption-subheading text-muted text">22-08-2022</p>
                        <p class="portfolio-caption-subheading text-muted text">Clases de conducir</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/3.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="col-2 col-md-3">
                            <a href="">
                                <img src="assets/img/team/3.jpg" class="img-fluid rounded-circle">
                            </a>
                        </div>
                        <div id="portfolioUsuarios"class="col-10 col-md-9">
                        <p class="portfolio-caption-heading">Mikel Olaizola</p>
                        <p class="portfolio-caption-subheading text-muted text">22-08-2022</p>
                        <p class="portfolio-caption-subheading text-muted text">Clases de conducir</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/4.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="col-2 col-md-3">
                            <a href="">
                                <img src="assets/img/team/1.jpg" class="img-fluid rounded-circle">
                            </a>
                        </div>
                        <div id="portfolioUsuarios"class="col-10 col-md-9">
                        <p class="portfolio-caption-heading">Juan Garcia</p>
                        <p class="portfolio-caption-subheading text-muted text">20-08-2022</p>
                        <p class="portfolio-caption-subheading text-muted text">Cuidado de animales</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/5.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="col-2 col-md-3">
                            <a href="">
                                <img src="assets/img/team/1.jpg" class="img-fluid rounded-circle">
                            </a>
                        </div>
                        <div id="portfolioUsuarios"class="col-10 col-md-9">
                        <p class="portfolio-caption-heading">Juan Garcia</p>
                        <p class="portfolio-caption-subheading text-muted text">20-08-2022</p>
                        <p class="portfolio-caption-subheading text-muted text">Cuidado de animales</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/6.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="col-2 col-md-3">
                            <a href="">
                                <img src="assets/img/team/2.jpg" class="img-fluid rounded-circle">
                            </a>
                        </div>
                        <div id="portfolioUsuarios"class="col-10 col-md-9">
                        <p class="portfolio-caption-heading">Elisa</p>
                        <p class="portfolio-caption-subheading text-muted text">20-08-2022</p>
                        <p class="portfolio-caption-subheading text-muted text">Fotografia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Seccion de registro de usuario-->
<section class="page-section">
    <div class="container" id="participate">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">¿Quieres participar?</h2>            
        </div>
        <div class="row py-5">
            <div class="col-md-6 d-flex justify-content-end">
                <p class="col-md-10">Si quieres participar en esta iniciativa no dudes en registrarte, tan solo te llevara un minuto poder compartir tu tiempo Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error tempore totam dolor alias at amet nostrum. Accusamus corporis alias vel accusantium, dignissimos doloremque nulla quisquam eos ratione id recusandae illum?</p>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <a class="btn btn-primary btn-xl text-uppercase"  href="" routerLink="/registro">Registrate</a>       
            </div>
        </div>

    </div>

</section>

<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-uppercase">Titulo del anuncio</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <div class="modal-body cambio">
                            <!-- Project details-->                            
                            <div class="col-lg-6 col-sm-12 ">
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..." />
                                <p class="text-start">Descripción del anuncio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <ul class="list-inline">
                                    <li class="mb-4">
                                        <strong>Publicado por: </strong>
                                        <a href="">Mari Pili</a>
                                    </li>
                                    <li>
                                        <div class="col-4 mx-auto">                                            
                                            <img class="img-fluid rounded-circle " src="assets/img/team/2.jpg" alt="..." />
                                        </div>
                                    </li>                                    
                                    <li>
                                        <strong>Category:</strong>
                                        Graphic Design
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    Solicitar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-uppercase">Titulo del anuncio</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <div class="modal-body cambio">
                            <!-- Project details-->                            
                            <div class="col-lg-6 col-sm-12 ">
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2.jpg" alt="..." />
                                <p class="text-start">Descripción del anuncio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <ul class="list-inline">
                                    <li class="mb-4">
                                        <strong>Publicado por: </strong>
                                        <a href="">Pablo</a>
                                    </li>
                                    <li>
                                        <div class="col-4 mx-auto">                                            
                                            <img class="img-fluid rounded-circle " src="assets/img/team/3.jpg" alt="..." />
                                        </div>
                                    </li>                                    
                                    <li>
                                        <strong>Category:</strong>
                                        Graphic Design
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    Solicitar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-uppercase">Titulo del anuncio</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <div class="modal-body cambio">
                            <!-- Project details-->                            
                            <div class="col-lg-6 col-sm-12 ">
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/3.jpg" alt="..." />
                                <p class="text-start">Descripción del anuncio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <ul class="list-inline">
                                    <li class="mb-4">
                                        <strong>Publicado por: </strong>
                                        <a href="">Pablo</a>
                                    </li>
                                    <li>
                                        <div class="col-4 mx-auto">                                            
                                            <img class="img-fluid rounded-circle " src="assets/img/team/3.jpg" alt="..." />
                                        </div>
                                    </li>                                    
                                    <li>
                                        <strong>Category:</strong>
                                        Graphic Design
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    Solicitar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-uppercase">Titulo del anuncio</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <div class="modal-body cambio">
                            <!-- Project details-->                            
                            <div class="col-lg-6 col-sm-12 ">
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/4.jpg" alt="..." />
                                <p class="text-start">Descripción del anuncio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <ul class="list-inline">
                                    <li class="mb-4">
                                        <strong>Publicado por: </strong>
                                        <a href="">Pablo</a>
                                    </li>
                                    <li>
                                        <div class="col-4 mx-auto">                                            
                                            <img class="img-fluid rounded-circle " src="assets/img/team/1.jpg" alt="..." />
                                        </div>
                                    </li>                                    
                                    <li>
                                        <strong>Category:</strong>
                                        Graphic Design
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    Solicitar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-uppercase">Titulo del anuncio</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <div class="modal-body cambio">
                            <!-- Project details-->                            
                            <div class="col-lg-6 col-sm-12 ">
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5.jpg" alt="..." />
                                <p class="text-start">Descripción del anuncio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <ul class="list-inline">
                                    <li class="mb-4">
                                        <strong>Publicado por: </strong>
                                        <a href="">Pablo</a>
                                    </li>
                                    <li>
                                        <div class="col-4 mx-auto">                                            
                                            <img class="img-fluid rounded-circle " src="assets/img/team/2.jpg" alt="..." />
                                        </div>
                                    </li>                                    
                                    <li>
                                        <strong>Category:</strong>
                                        Graphic Design
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    Solicitar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-uppercase">Titulo del anuncio</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <div class="modal-body cambio">
                            <!-- Project details-->                            
                            <div class="col-lg-6 col-sm-12 ">
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6.jpg" alt="..." />
                                <p class="text-start">Descripción del anuncio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <ul class="list-inline">
                                    <li class="mb-4">
                                        <strong>Publicado por: </strong>
                                        <a href="">Pablo</a>
                                    </li>
                                    <li>
                                        <div class="col-4 mx-auto">                                            
                                            <img class="img-fluid rounded-circle " src="assets/img/team/3.jpg" alt="..." />
                                        </div>
                                    </li>                                    
                                    <li>
                                        <strong>Category:</strong>
                                        Graphic Design
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    Solicitar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Portfolio registro-->
<div class="portfolio-modal modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <section class="page-section" id="login">
                                <!--<div class="text-center">
                                    <h2 class="section-heading">Comienza a intercambiar tu tiempo</h2>
                                </div>-->
                               
                                <div class="container" id="registro">
                                    
                                    <!-- * * * * * * * * * * * * * * *-->
                                    <!-- * * SB Forms Contact Form * *-->
                                    <!-- * * * * * * * * * * * * * * *-->
                                    <!-- This form is pre-integrated with SB Forms.-->
                                    <!-- To make this form functional, sign up at-->
                                    <!-- https://startbootstrap.com/solution/contact-forms-->
                                    <!-- to get an API token!-->
                                    
                                    <div class="col-md-12" >  
                                    <form id="registerForm" data-sb-form-api-token="API_TOKEN">
                                        <div class="row justify-content-center align-items-stretch mb-5">
                                            <div class="col-md-8">
                                                <h3 class="section-heading text-uppercase">Registrate</h3>
                                                <div class="form-group">
                                                    <!-- Email input-->
                                                    <label for="email">Email</label>
                                                    <input class="form-control" id="email" type="email" placeholder="Email *" data-sb-validations="required,email" />
                                                    <div class="invalid-feedback" data-sb-feedback="email:required">Email es un campo obligatorio</div>
                                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email no valido</div>
                                                </div>
                                                <div class="form-group ">
                                                    <!-- Password input-->
                                                    <label for="password">Contraseña</label>
                                                    <input class="form-control" id="password" type="tel" placeholder="Password" data-sb-validations="required" />
                                                    <div class="invalid-feedback" data-sb-feedback="password:required">Contraseña obligatoria</div>
                                                </div>  
                                                <div class="form-group ">
                                                    <!-- Password input-->
                                                    <label for="passwordRepeat">Confirmar constraseña</label>
                                                    <input class="form-control" id="passwordRepeat" type="tel" placeholder="Password" data-sb-validations="required" />
                                                    <div class="invalid-feedback" data-sb-feedback="passwordRepeat:required">Contraseña obligatoria</div>
                                                </div> 
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                      Soy mayor de 18 años
                                                    </label>
                                                  </div>
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                                    <label class="form-check-label" for="defaultCheck2">
                                                      Acepto los <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">terminos y condiciones</a>
                                                    </label>
                                                  </div>           
                                            </div>
                                            
                                        </div>
                                        <!-- Submit success message-->
                                        <!---->
                                        <!-- This is what your users will see when the form-->
                                        <!-- has successfully submitted-->
                                        <div class="d-none" id="submitSuccessMessage">
                                            <div class="text-center text-white mb-3">
                                                <div class="fw-bolder">El formulario se ha enviado correctamente</div>
                                                To activate this form, sign up at
                                                <br />
                                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                            </div>
                                        </div>
                                        <!-- Submit error message-->
                                        <!---->
                                        <!-- This is what your users will see when there is-->
                                        <!-- an error submitting the form-->
                                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">El envio ha fallado, revise los campos</div></div>
                                        <!-- Submit Button-->
                                        <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Enviar</button></div>
                                    </form>
                                </div>
                            
                        
                        </div>
                    </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

