<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Banco del Tiempo 2022</div>
            
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" data-bs-toggle="modal" href="#terminos">{{'footer_links.terms' | translate}}</a>
                <a class="link-dark text-decoration-none me-3" data-bs-toggle="modal" href="#faqs">{{'footer_links.FAQS' | translate}}</a>
                <a class="link-dark text-decoration-none " routerLink="/contacto" href="#!">{{'footer_links.contact' | translate}}</a>
            </div>
        </div>
    </div>
</footer>

<!-- Terminos y condiciones popup-->
<div class="portfolio-modal modal fade" id="terminos" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center" >
                    <div class="col-lg-8">
                        <div class="modal-body d-block">
                            <h2 class="text-uppercase mb-5">{{'register_page.conditions_modal.title' | translate}}</h2>
                             <p *ngFor="let paragraph of 'register_page.conditions_modal.paragraphs' | translate"
                                class=" align-self-start item-intro text-muted ">{{paragraph}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Preguntas y respuestas FAQS modal -->

<div class="portfolio-modal modal fade" id="faqs" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center" >
                    <div class="col-lg-8">
                        <div class="modal-body d-block  ">
                            <!-- Project details-->  
                            <h2 class="text-uppercase">FAQS</h2>
                            <p class="align-self-start item-intro text-muted">{{'FAQS.title' | translate}}</p>
                            <ul class="text-start">
                                <li class="fw-bolder">
                                    {{'FAQS.what.title' | translate}}
                                </li>
                                <p>{{'FAQS.what.text' | translate}}</p>                                              
                                <li class="fw-bolder">
                                    {{'FAQS.how.title' | translate}}
                                </li>
                                <p>{{'FAQS.how.text' | translate}}</p>
                                <li class="fw-bolder">
                                    {{'FAQS.benefits.title' | translate}}
                                </li>
                                <p>{{'FAQS.benefits.text' | translate}}</p>
                                <li class="fw-bolder">
                                    {{'FAQS.examples.title' | translate}}
                                </li>
                                <p>{{'FAQS.examples.text' | translate}}</p>
                                
                                <li class="fw-bolder">
                                    {{'FAQS.rules.title' | translate}}
                                </li>
                                <p>{{'FAQS.rules.text' | translate}}</p>
                                
                            </ul>
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
