<!-- PerfilEditado-->
<section class="page-section bg-light" id="perfil">
    <div class="container">     
        <h2 class="text-muted p-3">{{'preferences_page.edit_profile_btn' | translate}}</h2>
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media d-flex align-items-end profile-header w-75"> 
                    <div class="profile"><img src="{{profileContent.picture}}" alt="..." width="160" class="rounded mb-2 img-thumbnail">
                        <div *ngIf="fullProfile">
                            <!-- //uploading image -->
                            <input (change)="uploadImage($event)" id="file" type="file" accept=".jpg, .jpeg, .png" style="width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;"/>
                            <label for="file" style="font-size: 1.25em;font-weight: 700;
                            color: white;background-color: rgb(238, 212, 12);display: inline-block;cursor:pointer;padding:10px;border-radius:5px;">{{'preferences_page.upload_image_btn' | translate}}</label>               
                        </div>                        
                    </div>                           
                    <div *ngIf="profileContent.city" class="media-body mb-5 ms-3 text-white align-items-center">
                        <h4 class="mt-0 mb-0">{{profileContent.firstName}} {{profileContent.lastName}}</h4>
                        <p class="small mb-4"> <i class="fa fa-map-marker me-2"></i>{{profileContent.city}}, {{profileContent.province}}</p>
                    </div>                                                  
                </div>                 
            </div>
            <div class="bg-light p-4 d-flex justify-content-end">              
                <a href="#cambiarPass" data-bs-toggle="modal" class="btn btn-secondary mb-2" (click)="buildForm()">{{'preferences_page.change_pass_btn' | translate}}</a>                
            </div>           
        </div>       
    </div>     
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
    <div class="container mt-5 ">
        <form id="perfilForm">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <label for="nombre">{{'preferences_page.name_inp' | translate}}</label>
                        <input name="firstName" [(ngModel)]="inputData.firstName" class="form-control" id="name" type="text" placeholder="{{'preferences_page.name_inp' | translate}} *"/>
                        <div class="invalid-feedback">{{'preferences_page.required_err' | translate}}</div>
                    </div>
                    <div class="form-group">
                        <!-- Name input-->
                        <label for="nombre">{{'preferences_page.subname_inp' | translate}}</label>
                        <input name="lastName" [(ngModel)]="inputData.lastName" class="form-control" id="name" type="text" placeholder="{{'preferences_page.subname_inp' | translate}} *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">{{'preferences_page.required_err' | translate}}</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <label for="email">{{'preferences_page.email_inp' | translate}}</label><!--Aquí el campo mail es no editable-->
                        <input name="email" [(ngModel)]="inputData.email" class="form-control" id="email" type="email" placeholder="{{'preferences_page.email_inp' | translate}} *"  readonly="readonly" />
                        
                    </div>
                    <div class="form-group">
                        <!-- teléfono input-->
                        <label for="phone">{{'preferences_page.phone_inp' | translate}}</label>
                        <input name="phone" [(ngModel)]="inputData.phone"  class="form-control" id="phone" type="text" placeholder="{{'preferences_page.phone_inp' | translate}} *" />
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- provincia input-->
                        <label for="province">{{'preferences_page.province_inp' | translate}}</label>
                        <select name="province" [(ngModel)]="inputData.province_code" (change)="setProvinceFilter($event)" class="form-select" id="province" type="text"  data-sb-validations="required" >
                            <option value="0" selected>Selecciona</option>
                            <option *ngFor="let province of location.provinces" value="{{province.code}}">{{province.name}}</option>
                        </select>
                        <div class="invalid-feedback" data-sb-feedback="province:required">{{'preferences_page.required_err' | translate}}</div>
                    </div>
                    <div class="form-group">
                        <!-- población input-->
                        <label for="cities">{{'preferences_page.city_inp' | translate}}</label>
                        <select name="city" [(ngModel)]="inputData.city_code" class="form-select" id="cities" type="text" data-sb-validations="required" >
                            <option selected>Selecciona</option>
                            <option *ngFor="let city of location.cities" value="{{city.code}}">{{city.name}}</option>
                        </select>
                        <div class="invalid-feedback" data-sb-feedback="cities:required"></div>
                    </div>
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <label for="descripcion">{{'preferences_page.description_inp' | translate}}</label>
                        <textarea name="aboutMe" [(ngModel)]="inputData.aboutMe" class="form-control" id="message" placeholder="{{'preferences_page.description_inp' | translate}} *" data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">{{'preferences_page.required_err' | translate}}</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Server alerts -->
            <div *ngIf="alerts.success.length" class="alert alert-success mt-5 d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-check-circle-fill me-2" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                <strong>{{alerts.success}}</strong>
            </div>
            <div *ngIf="alerts.error.length" class="alert alert-danger mt-5 d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg> 
                <strong>{{alerts.error}}</strong>
            </div>
            <!-- Submit Button-->
            <div *ngIf="fullProfile" class="text-center"><button [disabled]="!allInputsCompleted()" (click)="updateProfile()" class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">{{'preferences_page.save_btn' | translate}}</button></div>
            <div *ngIf="!fullProfile" (click)="createProfile()" class="text-center"><button [disabled]="!allInputsCompleted()" class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">{{'preferences_page.create_btn' | translate}}</button></div>
        </form>
    </div>
</section>

<!--Modal para el cambiode pass-->
<div class="portfolio-modal modal fade" id="cambiarPass" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-10">
                        <div class="modal-body d-block">
                            <!-- Project details-->                            
                            <form [formGroup]="passwordForm" id="cambiarPassForm">
                                <h2 class="text-uppercase mb-4">Cambiar contraseña</h2>
                                <div class="row justify-content-center text-start mb-4">                                    
                                    <div class="col-md-10 col-10">                                    
                                        <div class="form-group">
                                            <!-- Contraseña antigua-->
                                            <label for="passAntigua">Introduza la antigua contraseña:</label>
                                            <input formControlName="pass" class="form-control" id="passAntigua" type="password" placeholder="Contraseña antigua" data-sb-validations="required" />
                                            <div  *ngIf="passwordForm.get('pass')?.dirty &&  passwordForm.get('pass')?.hasError('required')" class="text-center text-danger mb-3" >
                                                Contraseña antigua es obligatorio
                                            </div>
                                        </div>
                                        <div *ngIf="passwordForm.controls['pass'].dirty && passwordForm.controls['pass'].invalid"  class="text-center text-danger mb-3">
                                            {{'register_page.passwordPatternError' | translate}}
                                        </div>
                                        <div class="form-group">
                                            <!-- Nueva contraseña-->
                                            <label for="passNueva">Introduzca la nueva contraseña</label>
                                            <input formControlName="pass1" class="form-control" id="passNueva" type="password" placeholder="Nueva contraseña" data-sb-validations="required,passNueva" />
                                            <div  *ngIf="passwordForm.get('pass1')?.dirty &&  passwordForm.get('pass1')?.hasError('required')" class="text-center text-danger mb-3" >
                                                Nueva Contraseña es obligatorio
                                            </div>
                                        </div>
                                        <div *ngIf="passwordForm.controls['pass1'].dirty && passwordForm.controls['pass1'].invalid"  class="text-center text-danger mb-3">
                                            {{'register_page.passwordPatternError' | translate}}
                                        </div>                                           
                                    
                                        <div class="form-group">
                                            <!-- Repite contraseña-->
                                            <label for="passRepeat">Repita la contraseña</label>
                                            <input formControlName="pass2" class="form-control" id="passRepeat" type="password" placeholder="Repita contraseña" data-sb-validations="required,passRepeat" />
                                            <div *ngIf="passwordForm.get('pass2')?.dirty &&  passwordForm.get('pass2')?.hasError('required')" class="text-center text-danger mb-3">
                                                {{'register_page.required_error' | translate}}
                                            </div>
                                            <div *ngIf="passwordForm.get('pass2')?.dirty && passwordForm.hasError('confirmpassword')" class="text-center text-danger mb-3">
                                                {{'register_page.passwordMatchError' | translate}}
                                            </div>                                            
                                        </div> 
                                    </div>                                                                     
                                </div>
                                <!-- Submit Button-->
                                <div class="text-center"><button (click)="updatePassword()" class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit" data-bs-dismiss="modal">Cambiar</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

