<!-- PerfilEditado-->
<section class="page-section bg-light" id="perfil">
    <div class="container">     
    <h2 class="text-muted p-3">Editar perfil</h2>
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media d-flex align-items-end profile-header"> 
                    <div class="profile"><img src="assets/img/avatar.jpg" alt="..." width="160" class="rounded mb-2 img-thumbnail">
                        <div >
                            <a href="#" class="btn btn-secondary mb-2" >Subir imagen</a> <br>
                                                              
                        </div>                                
                    </div>                           
                    <div class="media-body mb-5 ms-3 text-white align-items-center">
                        <h4 class="mt-0 mb-0">Manuella Tarly</h4>
                        <p class="small mb-4"> <i class="fa fa-map-marker me-2"></i>San Farcisco</p>
                    </div>                            
                </div>                        
            </div>
        
            <div class="bg-light p-4 d-flex justify-content-end ">   
                
                <a href="#" class="btn btn-secondary mb-2">Cambiar Contraseña</a>   
                <!--<ul class="list-inline mb-0">                                            
                    <li class="list-inline-item">
                        <h4 class="font-weight-bold mb-3 d-block">Transacciones</h4>
                        <h4 class="font-weight-bold mb-0 d-block text-muted"><i class="fa-solid fa-stopwatch me-2"></i>4 Horas</h4>                        
                    </li>
                </ul>      -->          
            </div>
           
        </div>        
    </div>     
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <div class="container mt-5 ">
        <form id="perfilForm" data-sb-form-api-token="API_TOKEN">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <label for="nombre">Nombre</label>
                        <input class="form-control" id="name" type="text" placeholder="Nombre *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Name input-->
                        <label for="nombre">Apellido</label>
                        <input class="form-control" id="name" type="text" placeholder="Apellido *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <label for="email">Email</label><!--Aquí el campo mail es no editable-->
                        <input class="form-control" id="email" type="email" placeholder="email de usuario *"  readonly="readonly" />
                        
                    </div>
                    <div class="form-group">
                        <!-- ubicación input-->
                        <label for="ubicacion">Ubicación</label>
                        <input class="form-control" id="ubicacion" type="text" placeholder="Ubicación *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="ubicacion:required">A ubicacion is required.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control" id="message" placeholder="Descripcion" data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Guardar cambios</button></div>
        </form>
    </div>

</section>

<!-- Modal cambiar contraseña popup-->
<div class="portfolio-modal modal fade" id="cambiarpass" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body d-block  ">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Cambiar contraseña</h2>
                            <form id="cambiarPassForm">
                                <div class="row justify-content-center align-items-stretch mb-5">
                                    <div class="col-md-10">
                                        
                                        <div class="form-group">
                                            <!-- Old Password input-->
                                            <label for="oldPass">Contraseña antigua</label>
                                            <input formControlName="password" class="form-control" id="password" type="password"
                                                placeholder="Introduzca contraseña antigua"
                                            />
                                            <!--<div *ngIf="registerForm.get('password')?.dirty &&  registerForm.get('password')?.hasError('required')" class="text-center text-danger mb-3" >
                                                {{'register_page.required_error' | translate}}</div>
                                            <div *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].invalid"  class="text-center text-danger mb-3">
                                                {{'register_page.passwordPatternError' | translate}}</div>-->
                                        </div>
                                        <div class="form-group">
                                            <!-- New Password input-->
                                            <label for="newPass">Nueva contraseña</label>
                                            <input formControlName="password" class="form-control" id="password" type="password"
                                                placeholder="Introduzca la nueva contraseña"
                                            />
                                            <!--<div *ngIf="registerForm.get('password')?.dirty &&  registerForm.get('password')?.hasError('required')" class="text-center text-danger mb-3" >
                                                {{'register_page.required_error' | translate}}</div>
                                            <div *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].invalid"  class="text-center text-danger mb-3">
                                                {{'register_page.passwordPatternError' | translate}}</div>-->
                                        </div>
                                        <div class="form-group ">
                                            <!-- Repeat Password input-->
                                            <label for="repeatNewPass">Repita contraseña</label>
                                            <input formControlName="matchingPass" class="form-control" id="passwordRepeat" type="tel"
                                                placeholder="Repita la contraseña" type="password" />

                                           <!-- <div *ngIf="cambiarPassForm.get('matchingPass')?.dirty &&  cambiarPassForm.get('matchingPass')?.hasError('required')" class="text-center text-danger mb-3">
                                                {{'register_page.required_error' | translate}}</div>
                                            <div *ngIf="cambiarPassForm.get('matchingPass')?.dirty && cambiarPassForm.hasError('confirmpassword')" class="text-center text-danger mb-3">
                                                {{'register_page.passwordMatchError' | translate}}</div>-->
                                        </div>
                                        <!--<div class="form-check">
                                            <input formControlName="adult" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            <label class="form-check-label" for="defaultCheck1">{{'register_page.check_adult_label' |
                                                translate}}</label>
                                        </div>
                                        <div *ngIf="registerForm.controls['adult'].invalid" class="text-center text-danger mb-3">
                                            {{'register_page.adult_checkError' | translate}}</div>
                                        <div class="form-check">
                                            <input formControlName="terms" class="form-check-input" type="checkbox" value="" id="defaultCheck2" [checked]="conditions_accepted" (change)="toggleConditionsAccepted()">
                                            <label class="form-check-label" for="defaultCheck2">
                                                {{'register_page.check_conditions_pre' | translate}} <a class="portfolio-link"
                                                    data-bs-toggle="modal" href="#terminos">{{'register_page.check_conditions_linkText'
                                                    | translate}}</a>
                                            </label>
                                            <div *ngIf="!conditions_accepted" class="text-center text-danger mb-3">
                                                {{'register_page.conditions_checkError' | translate}}</div>
                                        </div>-->
                                        
                                    </div>
                
                                </div>
                                <!-- Submit success message-->
                
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center text-white mb-3">
                                        <div class="fw-bolder">{{'register_page.register_success' | translate}}</div>
                                    </div>
                                    <div class="text-center"><a routerLink="/login" class="btn btn-primary btn-xl text-uppercase"
                                            id="submitButton" type="submit">{{'register_page.login_button' | translate}}</a></div>
                                </div>
                                <!-- Submit error message-->
                
                                <div class="d-none" id="submitErrorMessage">
                                    <div class="text-center text-danger mb-3">{{'register_page.register_error' | translate}}</div>
                                </div>
                                <!-- Submit Button-->
                                <!--<div class="text-center">
                                    <button 
                                    [disabled]="registerForm.invalid"
                                    (click)="register()" 
                                    class="btn btn-primary btn-xl text-uppercase" 
                                    id="submitButton"
                                    type="submit">{{'register_page.registerButton' | translate}}</button>
                                </div>-->
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>