<!-- PerfilEditado-->
<section class="page-section bg-light" id="perfil">
    <div class="container">     
        <h2 class="text-muted p-3">Editar perfil</h2>
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media d-flex align-items-end profile-header w-75"> 
                    <div class="profile"><img src="assets/img/avatar.jpg" alt="..." width="160" class="rounded mb-2 img-thumbnail">
                        <div>
                            <a href="#" class="btn btn-secondary mb-2" >Subir imagen</a>                  
                        </div>                         
                    </div>                           
                    <div class="media-body mb-5 ms-3 text-white align-items-center">
                        <h4 class="mt-0 mb-0">Manuella Tarly</h4>
                        <p class="small mb-4"> <i class="fa fa-map-marker me-2"></i>San Farcisco</p>
                    </div>                                                  
                </div>                 
            </div>
            <div class="bg-light p-4 d-flex justify-content-end">              
                <a href="#cambiarPass" data-bs-toggle="modal" class="btn btn-secondary mb-2">Cambiar contraseña</a>                
            </div>           
        </div>       
    </div>     
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
    <div class="container mt-5 ">
        <form id="perfilForm" data-sb-form-api-token="API_TOKEN">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <label for="nombre">Nombre</label>
                        <input class="form-control" id="name" type="text" placeholder="Nombre *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Name input-->
                        <label for="nombre">Apellido</label>
                        <input class="form-control" id="name" type="text" placeholder="Apellido *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <label for="email">Email</label><!--Aquí el campo mail es no editable-->
                        <input class="form-control" id="email" type="email" placeholder="email de usuario *"  readonly="readonly" />
                        
                    </div>
                    <div class="form-group">
                        <!-- teléfono input-->
                        <label for="phone">Teléfono</label>
                        <input class="form-control" id="phone" type="text" placeholder="Teléfono" />
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- provincia input-->
                        <label for="province">Provincia</label>
                        <select class="form-select" id="province" type="text" placeholder="Provincia *" data-sb-validations="required" >
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                        </select>
                        <div class="invalid-feedback" data-sb-feedback="province:required">A ubicacion is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- población input-->
                        <label for="cities">Población</label>
                        <select class="form-select" id="cities" type="text" placeholder="Población *" data-sb-validations="required" >
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                        </select>
                        <div class="invalid-feedback" data-sb-feedback="cities:required"></div>
                    </div>
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control" id="message" placeholder="Descripcion" data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Guardar cambios</button></div>
        </form>
    </div>
</section>

<!--Modal para el cambiode pass-->
<div class="portfolio-modal modal fade" id="cambiarPass" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-10">
                        <div class="modal-body d-block">
                            <!-- Project details-->                            
                            <form id="cambiarPassForm" data-sb-form-api-token="API_TOKEN">
                                <h2 class="text-uppercase mb-4">Cambiar contraseña</h2>
                                <div class="row justify-content-center text-start mb-4">                                    
                                    <div class="col-md-10 col-10">                                    
                                        <div class="form-group">
                                            <!-- Contraseña antigua-->
                                            <label for="passAntigua">Introduza la antigua contraseña:</label>
                                            <input class="form-control" id="passAntigua" type="password" placeholder="Contraseña antigua" data-sb-validations="required" />
                                            <div class="invalid-feedback" data-sb-feedback="passAntigua:required">Contraseña antigua es obligatorio</div>
                                        </div>
                                        <div class="form-group">
                                            <!-- Nueva contraseña-->
                                            <label for="passNueva">Introduzca la nueva contraseña</label>
                                            <input class="form-control" id="passNueva" type="password" placeholder="Nueva contraseña" data-sb-validations="required,passNueva" />
                                            <div class="invalid-feedback" data-sb-feedback="passNueva:required">Nueva contraseña es obligatorio</div>                                            
                                        </div>
                                        <div class="form-group">
                                            <!-- Repite contraseña-->
                                            <label for="passRepeat">Repita la contraseña</label>
                                            <input class="form-control" id="passRepeat" type="password" placeholder="Repita contraseña" data-sb-validations="required,passRepeat" />
                                            <div class="invalid-feedback" data-sb-feedback="passRepeat:required">El cambo no puede estar vacio</div>                                            
                                        </div>                                        
                                    </div>                                    
                                </div>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center text-white mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Cambiar</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

