<!-- Registro-->
<section class="page-section" id="registro">
    <!--<div class="text-center">
        <h2 class="section-heading">Comienza a intercambiar tu tiempo</h2>
    </div>-->
   
    <div class="container d-flex justify-content-center" id="registroContainer">
        
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
       
        
        <div class="col-md-6">     
        <form id="registerForm"  data-sb-form-api-token="API_TOKEN">
            <h2 class="section-heading text-uppercase text-center">Registrate</h2>   
            <div class="row justify-content-center align-items-stretch mb-5">
                <div class="col-md-10">
                     
                    <div class="form-group">
                        <!-- Email input-->
                        <label for="email">Email</label>
                        <input class="form-control" id="email" type="email" placeholder="Email *" data-sb-validations="required,email" />
                        <div class="invalid-feedback" data-sb-feedback="email:required">Email es un campo obligatorio</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email no valido</div>
                    </div>
                    <div class="form-group ">
                        <!-- Password input-->
                        <label for="password">Contraseña</label>
                        <input class="form-control" id="password" type="tel" placeholder="Password" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="password:required">Contraseña obligatoria</div>
                    </div>  
                    <div class="form-group ">
                        <!-- Password input-->
                        <label for="passwordRepeat">Confirmar constraseña</label>
                        <input class="form-control" id="passwordRepeat" type="tel" placeholder="Password" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="passwordRepeat:required">Contraseña obligatoria</div>
                    </div> 
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          Soy mayor de 18 años
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                          Acepto los <a class="portfolio-link" data-bs-toggle="modal" href="#terminos">terminos y condiciones</a>
                        </label>
                      </div> 
                      <div class="form-group ">
                        <!-- ¿Estas registrado? inicia sesion-->
                        <p>¿Estás registrado? <a class="portfolio-link" routerLink="/login">Inicia sesión</a> </p>
                       
                    </div>           
                </div>
                
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">El formulario se ha enviado correctamente</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">El envio ha fallado, revise los campos</div></div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Enviar</button></div>
        </form>
       </div> 
        
       </div>
    </section>
    
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="terminos" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Terminos y condiciones</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad saepe aperiam nihil architecto similique ducimus, suscipit id aspernatur dolorum, voluptas provident totam reiciendis earum repellendus voluptatum maiores eos at doloremque.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro blanditiis inventore ducimus, at ipsum, iusto eius molestias laboriosam iste commodi illo. Qui voluptatem doloribus aspernatur distinctio voluptatibus, illo recusandae facere.</p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                 Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

