<section class="page-section" id="buscador">
    <div class="container ">
        <h2 class="section-heading text-center text-uppercase mt-5">{{'search_page.header' | translate}}</h2>
        <p class="text-center item-intro text-muted">{{'search_page.subtitle' | translate}}</p>
        <section class="page-section">
            <div class="input-group  selector">
                <!--<label class="input-group-text" for="inputGroupSelect01">Options</label>-->
                <select (change)="setCategoryFilter($event)" class="form-select " id="inputGroupSelect01">
                    <option selected value="0">{{'search_page.filters.category' | translate}}</option>
                    <option *ngFor="let category of filterElements.categories" value="{{category.id}}">{{category.name}}</option>
                </select>
                <select (change)="setProvinceFilter($event)" class="form-select " id="inputGroupSelect02">
                    <option selected value="0">{{'search_page.filters.province' | translate}}</option>
                    <option *ngFor="let province of filterElements.provinces" value="{{province.code}}">{{province.name}}</option>
                </select>
                <select (change)="setCityFilter($event)" class="form-select " id="inputGroupSelect03">
                    <option selected value="0">{{'search_page.filters.city' | translate}}</option>
                    <option *ngFor="let city of filterElements.cities" value="{{city.code}}">{{city.name}}</option>
                </select>
            
                <form class="form-inline d-flex space">
                    <input (change)="setTextFilter($event)" class="form-control mr-sm-2" type="search" placeholder="{{'search_page.filters.text_input_placeholder' | translate}}" aria-label="Search">
                    <button class="btn btn-primary ms-3 my-2 my-sm-0" type="submit" (click)="initSearch()">{{'search_page.search_button' | translate}}</button>
                </form>
            </div>
        </section>
        <section class="page-section searchResults">
            <div *ngIf="alerts.error.length"  class="alert alert-danger mt-1 d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg> 
                <strong>{{alerts.error}}</strong>
            </div>
            <p>{{(searchMessage[0] | translate)}} {{searchMessage[1]}}</p>
            <div class="row " id="portfolio">
                <!-- Resultados búsqueda -->
                <!-- Card item -->
                <div *ngFor="let card of searchresult" class="col-lg-4 col-sm-6 mb-4">
                    
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item shadow-sm cardItem pt-2">
                        <h5 class="mt-3 text-center ">{{card.title}}</h5>
                        <h5 class="text-muted text-center">{{card.category}}</h5>  
                        <h6 class="text-center pb-2">{{card.dateActivity | date:'dd/MM/yyyy'}}</h6> 
                        <a class="portfolio-link" data-bs-toggle="modal" href="/#modal{{card.id}}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{{card.picture}}" alt=".." />
                        </a>                                                                 
                        <a><div class="portfolio-caption align-items-center justify-content-center pt-3 pb-3 cardHover" (click)="goToProfile(card.idUser)">                                              
                            <div class="col-2 col-md-3 me-4">
                                <a>
                                    <img (click)="goToProfile(card.idUser)" src="{{card.profilePicture || './assets/img/user-icons/generic_user.png'}}" class="imgContentSearch rounded-circle shadow-sm">
                                </a>
                            </div>
                            <div>                                                                                      
                                <h6 (click)="goToProfile(card.idUser)">{{card.firstName}} {{card.lastName}}</h6>
                                <div class="d-flex"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt me-1" viewBox="0 0 16 16">
                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>                                   
                                    <h6 class="text-muted me-1">{{card.city}}, {{card.province}}</h6> 
                                </div>                                                
                            </div>                                      
                        </div>    </a>                
                    </div>
                    
                    <!-- Portfolio Modal-->
                    <div class="portfolio-modal modal fade" id="modal{{card.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div (click)="clearAlerts()" class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
                                </div>
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <h2 class="text-uppercase">{{card.title}}</h2>
                                            <p class="item-intro text-muted">{{card.city}}, {{card.province}}</p>
                                            <div class="modal-body cambio">
                                                <!-- Project details-->
                                                <div class="col-lg-6 col-sm-12 ">
                                                    <img class="img-fluid d-block mx-auto" src="{{card.picture}}" alt="imagen prueba" />
                                                    <p class="text-start">{{card.description}}</p>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <ul class="list-inline">
                                                        <li class="mb-1">
                                                            <strong>{{'home_page.sect2.modal_transmitter_title' | translate}} </strong>
                                                            <a href="" data-bs-dismiss="modal" (click)="goToProfile(card.idUser)">{{card.firstName}} {{card.lastName}}</a>
                                                        </li>
                                                        <li class="mb-1 ">
                                                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                                                              </svg>                                                           
                                                            <span> {{card.email}}</span> </span>                                                                                                                       
                                                        </li>
                                                        <li class="mb-3">
                                                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                                              </svg>                                                         
                                                            <span> {{card.phone}}</span> </span>                                                             
                                                        </li>                                                        
                                                        <li>
                                                            <div class="col-4 mx-auto" >
                                                                <img data-bs-dismiss="modal" (click)="goToProfile(card.idUser)" class="imgContentMSearch rounded-circle shadow mb-3" src="{{card.profilePicture || './assets/img/user-icons/generic_user.png'}}"
                                                                    alt="imagen_usuario" style="cursor:pointer;"/>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <strong>{{'search_page.filters.category' | translate}}:</strong>#{{card.category}}
                                                        </li>
                                                    </ul>
                                                    <button class="btn btn-primary btn-xl text-uppercase"
                                                        type="button" (click)="sendRequest(card.id)">
                                                        {{'home_page.sect2.modal_button' | translate}}
                                                    </button>
                                                   
                                                </div>
                                            </div>

                                            <!--ALERTS-->
                                            <div *ngIf="alerts.success.length" class="alert alert-success mt-2  d-flex align-items-center" role="alert">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-check-circle-fill me-2" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                                </svg>
                                                <strong>{{alerts.success}}</strong>
                                                <button class="btn btn-success offset-5" data-bs-dismiss="modal" (click)="goToProfile(userId)">Ver Perfil</button>
                                            </div>  
                                            <div *ngIf="alerts.error.length"  class="alert alert-warning mt-2  d-flex align-items-center" role="alert">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                </svg> 
                                                <strong>{{alerts.error}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
    </div>
</section>