<section class="page-section" id="buscador">
    <div class="container ">
        <h2 class="section-heading text-center text-uppercase mt-5">{{'search_page.header' | translate}}</h2>
        <section class="page-section">
            <div class="input-group  selector">
                <!--<label class="input-group-text" for="inputGroupSelect01">Options</label>-->
                <select (change)="setCategoryFilter($event)" class="form-select " id="inputGroupSelect01">
                    <option selected value="0">{{'search_page.filters.category' | translate}}</option>
                    <option *ngFor="let category of filterElements.categories" value="{{category.id}}">{{category.name}}</option>
                </select>
                <select (change)="setProvinceFilter($event)" class="form-select " id="inputGroupSelect02">
                    <option selected value="0">{{'search_page.filters.province' | translate}}</option>
                    <option *ngFor="let province of filterElements.provinces" value="{{province.code}}">{{province.name}}</option>
                </select>
                <select (change)="setCityFilter($event)" class="form-select " id="inputGroupSelect03">
                    <option selected value="0">{{'search_page.filters.city' | translate}}</option>
                    <option *ngFor="let city of filterElements.cities" value="{{city.code}}">{{city.name}}</option>
                </select>
            
                <form class="form-inline d-flex space">
                    <input (change)="setTextFilter($event)" class="form-control mr-sm-2" type="search" placeholder="{{'search_page.filters.text_input_placeholder' | translate}}" aria-label="Search">
                    <button class="btn btn-primary ms-3 my-2 my-sm-0" type="submit" (click)="initSearch()">{{'search_page.search_button' | translate}}</button>
                </form>
            </div>
        </section>
        <section class="page-section searchResults">
            <p>{{(searchMessage[0] | translate)}} {{searchMessage[1]}}</p>
            <div class="row " id="portfolio">
                <!-- Resultados búsqueda -->
                <!-- Card item -->
                <div *ngFor="let card of searchresult" class="col-lg-4 col-sm-6 mb-4">
                    
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item shadow-sm cardItem pt-2">
                        <h5 class="mt-3 text-center ">{{card.title}}</h5>
                        <h5 class="text-muted text-center">{{card.category_es}}</h5>  
                        <h6 class="text-center pb-2">{{card.dateActivity}}</h6> 
                        <a class="portfolio-link" data-bs-toggle="modal" href="/#modal{{card.idUser}}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{{card.picture}}" alt=".." />
                        </a>                                                                 
                        <div class="portfolio-caption align-items-center justify-content-center pt-3 pb-3">                                              
                            <div class="col-2 col-md-3 me-4">
                                <a>
                                    <img (click)="goToProfile(card.idUser)" src="./assets/img/user-icons/generic_user.png" class="img-fluid rounded-circle shadow-sm">
                                </a>
                            </div>
                        <div>                                                                                      
                            <h6 (click)="goToProfile(card.idUser)">{{card.firstName}} Apellido</h6>
                                <div class="d-flex"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt me-1" viewBox="0 0 16 16">
                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>                                   
                                    <h6 class="text-muted me-1">{{card.city}}, {{card.province}}</h6> 
                                </div>                                                
                            </div>                                      
                        </div>                        
                    </div>
                    
                    <!-- Portfolio Modal-->
                    <div class="portfolio-modal modal fade" id="modal{{card.idUser}}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
                                </div>
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <h2 class="text-uppercase">{{card.title}}</h2>
                                            <p class="item-intro text-muted">{{card.city}}, {{card.province}}</p>
                                            <div class="modal-body cambio">
                                                <!-- Project details-->
                                                <div class="col-lg-6 col-sm-12 ">
                                                    <img class="img-fluid d-block mx-auto" src="{{card.picture}}" alt="imagen prueba" />
                                                    <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla architecto aperiam sapiente odit incidunt deserunt atque facilis quos, corporis sit blanditiis. Sapiente aspernatur, consequatur omnis suscipit error eius cum illum.</p>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <ul class="list-inline">
                                                        <li class="mb-4">
                                                            <strong>{{'home_page.sect2.modal_transmitter_title' | translate}} </strong>
                                                            <a data-bs-dismiss="modal" (click)="goToProfile(card.idUser)">{{card.firstName}} Apellido</a>
                                                        </li>
                                                        <li>
                                                            <div class="col-4 mx-auto" >
                                                                <img data-bs-dismiss="modal" (click)="goToProfile(card.idUser)" class="img-fluid rounded-circle " src="./assets/img/user-icons/generic_user.png"
                                                                    alt="imagen prueba" />
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <strong>Categoria:</strong>#{{card.category_es}}
                                                        </li>
                                                    </ul>
                                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                                        type="button">
                                                        {{'home_page.sect2.modal_button' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>

            </div>
        </section>
    </div>
</section>