<section class="page-section" id="buscador">
    <div class="container">
        <h2 class="section-heading text-center text-uppercase mt-5">Encuentra lo que necesitas</h2>
    


        <section class="page-section">
            <div class="input-group  selector">
                <!--<label class="input-group-text" for="inputGroupSelect01">Options</label>-->
                <select class="form-select me-3" id="inputGroupSelect01">
                    <option selected>Categorias</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select me-3" id="inputGroupSelect02">
                    <option selected>Provincia</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select me-3" id="inputGroupSelect03">
                    <option selected>Población</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            
                <form class="form-inline d-flex space">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary  ms-3 my-2 my-sm-0" type="submit" (click)="initSearch()">Search</button>
                </form>
            </div>
        </section>
        <section class="page-section">
            <p>{{searchMessage}}</p>
            <div class="row" id="portfolio">
                <!-- <app-card class="row" [activities]="searchResult" [isLoged]="isLoged" [userId]="userId"></app-card> -->




                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="/#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/1.jpg" alt=".." />
                        </a>
                        <div class="portfolio-caption d-block">
                            <h5 class="portfolio-caption-subheading text-muted text-center">20-08-2022</h5>
                            <h5 class="portfolio-caption-subheading text-muted text-center">Cuidado de animales</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/2.jpg" alt="..." />
                        </a>
                        <div class="portfolio-caption d-block ">
                            <h5 class="portfolio-caption-subheading text-muted text-center ">22-08-2022</h5>
                            <h5 class="portfolio-caption-subheading text-muted text-center">Clases de conducir</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 3-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/3.jpg" alt="..." />
                        </a>
                        <div class="portfolio-caption d-block">
                            <h5 class="portfolio-caption-subheading text-muted text-center">20-08-2022</h5>
                            <h5 class="portfolio-caption-subheading text-muted text-center">Cuidado de animales</h5>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>