<!-- PerfilEditado-->
<section class="page-section bg-light"  id="newActivityPage">
    <div class="container">
        <div *ngIf="!fullProfile" class="alert alert-danger mt-5 d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg> 
            <strong style="margin-right:20px;">¿No has completado tu perfil? ¿A qué esperas? Consigue ahora toda la funcionalidad</strong>
            <a (click)="gotToConfigurationPage()" class="btn btn-secondary mb-2">{{'profile_page.edit_profile_btn' | translate}}</a>
        </div>    
        <h2 class="text-muted p-3">Registrar actividad</h2>
        <!--CABECERA DE USUARIO-->
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-5 bg-dark">
                <div class="media d-flex align-items-end profile-header w-75"> 
                    <div class="profile"><img src="{{profileContent.picture || './assets/img/user-icons/generic_user.png'}}" alt="..." width="160" class="rounded mb-2 img-thumbnail">
                                                
                    </div>                           
                    <div *ngIf="fullProfile" class="media-body mb-5 ms-3 text-white align-items-center">
                        <h4 class="mt-0 mb-0">{{profileContent.firstName}} {{profileContent.lastName}}</h4>
                        <p class="small mb-4"> <i class="fa fa-map-marker me-2"></i>{{profileContent.city}}, {{profileContent.province}}</p>
                    </div>                                                  
                </div>                 
            </div>
            <div class="bg-light p-4 d-flex aling-items-center justify-content-end ">             
                <ul class="list-inline mb-0">                                               
                    <li class="list-inline-item">
                        <h4 class="font-weight-bold mb-2 d-block">{{'profile_page.balance' | translate}}</h4>
                        <div class="d-flex align-items-center">
                            <span class="fa-stack fa-1x">
                                <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                                <i class="far fa-hourglass fa-stack-1x fa-inverse"></i>                                                                              
                            </span>  
                            <h4 *ngIf="fullProfile" class="mb-0 text-muted text-center p-1">{{profileContent.credit}} Horas</h4> 
                        </div>
                    </li>
                </ul>                
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <form id="newActivityForm">
            <div class="row justify-content-center mb-5">
                <div class="col-md-8">
                    <div class="form-group">
                        <!-- Titulo input-->
                        <label for="tittle">Titulo</label>
                        <input name="title" [(ngModel)]="inputs.title" class="form-control" id="tittle" type="text" placeholder="Título *" />
                    </div>
                    <div class="form-group">
                        <!-- Categoria input-->
                        <label for="category">Categoria</label>
                        <select (change)="selectCategory($event)" class="form-select" id="category" type="text" placeholder="Categoría *" data-sb-validations="required" >
                            <option *ngFor="let category of inputs.categories" value="{{category.id}}">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="form-group form-group-textarea ">
                        <!-- Descripción input-->
                        <label for="description">Descripción</label>
                        <textarea name="description" [(ngModel)]="inputs.description" class="form-control" id="description" placeholder="Descripción *" data-sb-validations="required"></textarea>
                    </div>
                </div>                
            </div>
            
        </form>
        <!-- Errors -->
        <div *ngIf="alerts.error.length" class="alert alert-danger mt-5 d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg> 
            <strong style="margin-right:20px;">{{alerts.error}}</strong>
        </div>
        <div *ngIf="alerts.success.length" class="alert alert-success mt-5 d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg> 
            <strong style="margin-right:20px;">{{alerts.success}}</strong>
        </div>
        <!-- Submit Button-->
        <div class="text-center"><button [disabled]="!allInputsCompleted()" (click)="createCategory()" class="btn btn-primary btn-xl text-uppercase mt-5" id="submitButton" type="submit">Publicar actividad</button></div>
    </div>
</section>
