<!-- PerfilUsuario Heather-->
<div  *ngIf="!fullProfile && canEdit" class="w-75 mx-auto col-lg-8 profileUser">
<div  class="alert alert-danger mt-5 d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16"  style="margin-top:30px;">
    </svg> 
    <strong style="margin-right:20px;">{{'alerts.profile_false' | translate}}</strong>
    <a (click)="gotToConfigurationPage()" class="btn btn-secondary mb-2">{{'profile_page.edit_profile_btn' | translate}}</a>
</div> 
</div>

 
<section *ngIf="fullProfile || !canEdit" class="page-section pb-5" id="perfilUsuario">

    <div class="container"> 
          
        <h2 class="text-muted p-3">{{'profile_page.title' | translate}} @{{profileContent.username}}</h2>
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
           
            <div class="px-4 pt-0 pb-4 bg-dark">   
                      <!-----------------Div para la descripción de usuario------------------------------>
                      <div class="userDescription ">
                        <blockquote>{{profileContent.aboutMe}}</blockquote>
                      </div>
                <div class="media d-flex align-items-end profile-header"> 
                    <div class="profile">
                        <div class="img-container">
                            <img src="{{profileContent.picture  || './assets/img/user-icons/generic_user.png'}}" alt="..." width="160" class="rounded mb-2 img-thumbnail">                           
                        </div>
                    <div *ngIf="canEdit">
                        <a (click)="gotToConfigurationPage()" class="btn btn-secondary mb-2">{{'profile_page.edit_profile_btn' | translate}}</a> 
                        <!-- <a href="#" class="btn btn-secondary mb-2">Cambiar Contraseña</a> -->                                     
                    </div>                                
                    </div>                           
                    <div class="media-body mb-5 ms-3 text-white align-items-center">
                        <h4 class="mt-0 mb-0">{{profileContent.firstName}} {{profileContent.lastName}}</h4>
                        <p class="small mb-4"> 
                            <i class="fa fa-map-marker me-2"></i>{{profileContent.city}}, {{profileContent.province}} | {{profileContent.phone}} | {{profileContent.email}}
                        </p>
                    </div> 

                    
                                                      
                </div>                        
            </div>
        
            <div class="bg-light p-4 d-flex aling-items-center justify-content-end ">                
               
                <ul class="list-inline mb-0">     
                                               
                    <li class="list-inline-item">
                        <h4 class="font-weight-bold mb-2 d-block">{{'profile_page.balance' | translate}}</h4>
                        <div class="d-flex align-items-center">
                            <span class="fa-stack fa-1x">
                                <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                                <i class="far fa-hourglass fa-stack-1x fa-inverse"></i>                                                                              
                            </span>  
                            <h4 *ngIf="fullProfile" class="mb-0 text-muted text-center p-1">{{profileContent.credit}} {{'profile_page.hours' | translate}}</h4>
                        </div>
                        
                        
                        <div *ngIf="fullProfile && canEdit" class="mb-2 mt-2 text-center ">
                            <a (click)="goToNewActivitiePage()" class="btn btn-secondary ">{{'profile_page.new_activitie_span' | translate}}</a>                                                              
                        </div> 
                    </li>
                </ul>                
            </div>
           
        </div>
        
    </div>                  
    
</section>



<section *ngIf="fullProfile  || !canEdit" class="page-section pt-5">
    <div class="container">
         <!-----------------Div para la descripción de usuario al cambio 992px----------------------------->
        <div class="userDescriptionCh text-muted pb-4 mx-2">
            <h5><blockquote>{{profileContent.aboutMe}}</blockquote></h5> <!--Puede ser tb un h6-->
        </div>        
        
        <!------------Etiquetas de publicaciones, solicitudes e interacciones--------------->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active border" id="nav-publicaciones-tab" data-bs-toggle="tab" data-bs-target="#nav-publicaciones" type="button" role="tab" aria-controls="nav-publicaciones" aria-selected="true">{{'profile_page.publications_tab' | translate}}</button>
                <button class="nav-link border" id="nav-interacciones-tab" data-bs-toggle="tab" data-bs-target="#nav-interacciones" type="button" role="tab" aria-controls="nav-interacciones" aria-selected="false">{{'profile_page.interactions_tab' | translate}}</button>
                <button *ngIf="canEdit" class="nav-link border" id="nav-solicitudes-tab" data-bs-toggle="tab" data-bs-target="#nav-solicitudes" type="button" role="tab" aria-controls="nav-solicitudes" aria-selected="false">{{'profile_page.requests_tab' | translate}}</button>
            </div>
        </nav>
        <!--Publicaciones-->          
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active py-4 px-4" id="nav-publicaciones" role="tabpanel" aria-labelledby="nav-publicaciones-tab" tabindex="0">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">{{'profile_page.publications_title' | translate}}</h5>
                </div>
                <p>{{profileActivities.length}} {{'profile_page.activities_text' | translate}}</p>
                <div class="row" id="portfolio">
                    <div *ngFor="let activitie of profileActivities" class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item-->
                        <div class="portfolio-item shadow rounded  ">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#modal{{activitie.id}}">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{{activitie.picture}}" alt="..." />
                            </a>
                            <div class="portfolio-caption py-3 d-block">
                                <h5 class="mt-3 text-center">{{activitie.title}}</h5>
                                <h5 class="text-muted text-center">{{activitie.category}}</h5>
                                <h6 class="text-center pb-2 ">{{activitie.dateActivity | date:'dd/MM/yyyy'}}</h6>                                
                            </div>
                        </div>
                    <!-- Portfolio Modal-->
                    <div class="portfolio-modal modal fade" id="modal{{activitie.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div (click)="clearAlerts()" class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
                                </div>
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <h2 class="text-uppercase">{{activitie.title}}</h2>                                            
                                            <p class="item-intro text-muted">{{activitie.city}}, {{activitie.province}}</p>                                           
                                            <div class="modal-body cambio">
                                            
                                                <!-- Project details-->
                                                <div class="col-lg-6 col-sm-12 ">
                                                    <img class="img-fluid d-block mx-auto" src="{{activitie.picture}}" alt="imagen_actv" />
                                                    <p class="text-start">{{activitie.description}}</p>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <ul class="list-inline">
                                                        <li class="mb-1">
                                                            <strong>{{'home_page.sect2.modal_transmitter_title' | translate}} </strong>
                                                            <a href="" data-bs-dismiss="modal" (click)="goToProfile(activitie.idUser)">{{activitie.firstName}} {{activitie.lastName}}</a>
                                                        </li>
                                                        <li *ngIf="selectedProfile!==userId" class="mb-1 ">
                                                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                                                              </svg>                                                           
                                                            <span> {{profileContent.email}}</span> </span>                                                                                                                       
                                                        </li>
                                                        <li *ngIf="selectedProfile!==userId" class="mb-3">
                                                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                                              </svg>                                                         
                                                            <span> {{profileContent.phone}}</span> </span>                                                             
                                                        </li>                                                        
                                                        <li>
                                                            <div class="col-4 mx-auto" >
                                                                <img data-bs-dismiss="modal" (click)="goToProfile(userId)" class="imgContentMSearch rounded-circle shadow mb-3 mt-3" src="{{activitie.profilePicture || './assets/img/user-icons/generic_user.png'}}"
                                                                    alt="imagen_usuario" style="cursor:pointer;"/>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <strong>{{'search_page.filters.category' | translate}}:</strong>#{{activitie.category}}
                                                        </li>
                                                    </ul>
                                                    <button *ngIf="selectedProfile!==userId" class="btn btn-primary btn-xl text-uppercase"
                                                        type="button" (click)="sendRequest(activitie.id)">
                                                        {{'home_page.sect2.modal_button' | translate}}
                                                    </button>                                                  
                                                   
                                                </div> 

                                            </div>
                                            <!--ALERTS-->
                                            <div *ngIf="alerts.success.length" class="alert alert-success mt-2 d-flex align-items-center" role="alert">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-check-circle-fill me-2" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                                </svg>
                                                <strong>{{alerts.success}}</strong>
                                                <button class="btn btn-success" data-bs-dismiss="modal" (click)="goToProfile(userId)">{{'profile_page.see_prof_btn' | translate}}</button>
                                            </div> 
                                            <div *ngIf="alerts.error.length"  class="alert alert-warning mt-2 d-flex align-items-center" role="alert">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                </svg> 
                                                <strong>{{alerts.error}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    </div>
                </div>
            </div> 

             <!--Interacciones-->           
             <div class="tab-pane fade py-4 px-4" id="nav-interacciones" role="tabpanel" aria-labelledby="nav-interacciones-tab" tabindex="0">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h4 class="mb-0">{{'profile_page.interactions_title' | translate}}</h4>
                </div>
                <h5 *ngIf="requestHistorical.incoming.length" class="text-muted fst-italic mb-3">{{'profile_page.historical_request.in' | translate}}:</h5>
                          
                <div class="row">                   
                    <div class="col"> 
                        <div *ngFor="let interaction of requestHistorical.incoming" class="border-bottom mb-3">
                            <table class="table">
                            <tr *ngIf="interaction.id.length">                            
                                <th class="w-25">{{interaction.title}}</th>
                                <td class="w-25"><a (click)="goToProfile(interaction.userId)">@{{interaction.username}}</a></td>
                                <td class="w-25">{{interaction.hours}} {{'profile_page.hours' | translate}}</td>
                                <td class="w-25">{{interaction.updated_at | date:'dd/MM/yyyy'}}</td>                            
                            </tr>
                            </table>
                        </div>
                    </div>
                    
                </div>
                <h5 *ngIf="requestHistorical.outgoing.length" class="text-muted fst-italic my-3">{{'profile_page.historical_request.out' | translate}}:</h5>
                <div class="row">
                    <div class="col"> 
                        <div *ngFor="let interaction of requestHistorical.outgoing" class="border-bottom mb-3">
                            <table class="table">
                                <tr *ngIf="interaction.id.length" class="">                            
                                    <th class="w-25">{{interaction.title}}</th>
                                    <td class="w-25"><a (click)="goToProfile(interaction.userId)">@{{interaction.username}}</a></td>
                                    <td class="w-25">(-){{interaction.hours}} {{'profile_page.hours' | translate}}</td>
                                    <td class="w-25">{{interaction.updated_at | date:'dd/MM/yyyy'}}</td>                            
                                </tr>
                            </table>                            
                        </div>
                    </div>                    
                </div>
            </div>
            
             <!--Solicitudes-->           
             <div *ngIf="canEdit" class="tab-pane fade py-4 px-4" id="nav-solicitudes" role="tabpanel" aria-labelledby="nav-solicitudes-tab" tabindex="0">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h4 class="">{{'profile_page.requests_title' | translate}}</h4>
                </div>
                
                <div class="row userRequests">
                    <h5 *ngIf="outgoingRequests.length" class="text-muted fst-italic">{{'profile_page.out_request.subtitle' | translate}}:</h5>


                    
                    <ul>
                        <div *ngFor="let request of outgoingRequests; let i = index" class="border-bottom mt-3">
                           

                            <li class="d-flex justify-content-between align-items-center">
                                <div class="col-md-6">
                                    <p><strong>@{{request.username}}</strong> {{'profile_page.out_request.text' | translate}} <strong>{{request.title}}</strong>  --  {{request.updated_at| date:'dd/MM/yyyy'}}</p>
                                    <p>{{'profile_page.out_request.state' | translate}}: 
                                        <strong>{{request.name}}</strong>
                                        <span *ngIf="request.name_es!=='Cancelada'">  |  {{request.email}}</span>
                                        <span *ngIf="request.name_es!=='Cancelada'">  |  {{request.phone}}</span>
                                    </p>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end ">
                                    <button *ngIf="request.name_es==='Pendiente'" (click)="cancelRequest(request.id)" class="col-md-3 btn btn btn-primary">{{'profile_page.out_request.cancel' | translate}}</button>                      
                                    <button  *ngIf="request.name_es==='Aceptada'" [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#assingHours'+request.id" class="col-md-3 btn btn-primary " >{{'profile_page.out_request.finish' | translate}}</button>
                                    
                                </div>                            
                            </li>
                        </div>
                        <h5 *ngIf="incomingRequests.length" class="text-muted fst-italic mt-3">{{'profile_page.in_request.subtitle' | translate}}:</h5>
                        <div *ngFor="let request of incomingRequests; let i = index" class="border-bottom mt-3">
                            <li *ngIf="request.id.length" class="d-flex justify-content-between align-items-center">
                                <div class="col-md-6">
                                    <p><strong>@{{request.username}} </strong>{{'profile_page.in_request.text' | translate}}:  <strong> {{request.title}}</strong>  --  {{request.updated_at| date:'dd/MM/yyyy'}}</p>
                                    <p>{{'profile_page.in_request.state' | translate}}: 
                                        <strong>{{request.name}}</strong>
                                        <span *ngIf="request.name_es!=='Cancelada'">  |  {{request.email}}</span>
                                        <span *ngIf="request.name_es!=='Cancelada'">  |  {{request.phone}}</span>
                                    </p>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <button *ngIf="request.name_es==='Pendiente'" class="col-md-3 btn btn-primary me-2" (click)="acceptRequest(request.id)">{{'profile_page.in_request.accept' | translate}}</button>
                                    <button *ngIf="request.name_es==='Pendiente'" class="col-md-3 btn btn-primary" (click)="cancelRequest(request.id)">{{'profile_page.in_request.cancel' | translate}}</button>
                                    <!-- <button *ngIf="request.name_es!=='Pendiente'" [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#assingHours'+request.id" class="col-md-3 btn btn-primary" >{{'profile_page.in_request.finish' | translate}}</button> -->
                                </div>                            
                            </li>
                        </div>
                    </ul>                    
                </div>
            </div>
    
<!-- Modal para asignar las horas en el botón Finalizar SALIENTE type=1-->

<div *ngFor="let request of outgoingRequests; let i = index" class="portfolio-modal modal fade" id="assingHours{{request.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" (click)="clearAlerts()"/>
            </div>
            <div class="container">
                <div class="row justify-content-center" >
                    <div class="col-lg-8">
                        <div class="modal-body d-block  ">
                            <!-- Project details-->  
                            <h2 class="text-uppercase mb-4">{{'profile_page.finish_modal.title' | translate}}</h2>
                            <p class="align-self-start item-intro text-muted">{{'profile_page.finish_modal.text' | translate}}</p>

                            <div class="input-group mb-3 w-50 mx-auto">
                                <input name="interactionHours" [(ngModel)]="interactionHours" type="number" class="form-control" placeholder="{{'profile_page.finish_modal.placeholder' | translate}}" aria-label="hours input" aria-describedby="button-addon2" min="0">
                                <button (click)="endRequest(request.id)" class="btn btn-primary text-uppercase fw-bold" type="button" id="button-addon2" data-bs-dismiss="modal">{{'profile_page.finish_modal.btn' | translate}}</button>
                            </div> 
                            
                            <!--ESTOS ALERTS LOS HE PUESTO PARA QUE EXISTA COMO UNA RESPUESTA AL USUARIO, SI NO OS PARECE QUITAMOS-->
                           
                                <div *ngIf="alerts.success.length" class="alert alert-success mt-5 d-flex align-items-center" role="alert">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-check-circle-fill me-2" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                    <strong>{{alerts.success}}</strong>
                                </div>  
                                <div *ngIf="alerts.error.length"  class="alert alert-warning mt-5 d-flex align-items-center" role="alert">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg> 
                                    <strong>{{alerts.error}}</strong>
                                </div>                      
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para asignar las horas en el botón Finalizar ENTRANTES type=2-->

<div *ngFor="let request of incomingRequests; let i = index" class="portfolio-modal modal fade" id="assingHours{{request.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" (click)="clearAlerts()"/>
            </div>
            <div class="container">
                <div class="row justify-content-center" >
                    <div class="col-lg-8">
                        <div class="modal-body d-block  ">
                            <!-- Project details-->  
                            <h2 class="text-uppercase mb-4">{{'profile_page.finish_modal.title' | translate}}</h2>
                            <p class="align-self-start item-intro text-muted">{{'profile_page.finish_modal.text' | translate}}</p>

                            <div class="input-group mb-3 w-50 mx-auto">
                                <input name="interactionHours" [(ngModel)]="interactionHours" type="number" class="form-control" placeholder="{{'profile_page.finish_modal.placeholder' | translate}}" aria-label="hours input" aria-describedby="button-addon2" min="0">
                                <button (click)="endRequest(request.id)" class="btn btn-primary text-uppercase fw-bold" type="button" id="button-addon2" data-bs-dismiss="modal">{{'profile_page.finish_modal.btn' | translate}}</button>
                            </div> 
                            
                            <!--ESTOS ALERTS LOS HE PUESTO PARA QUE EXISTA COMO UNA RESPUESTA AL USUARIO, SI NO OS PARECE QUITAMOS-->
                           
                                <div *ngIf="alerts.success.length" class="alert alert-success mt-5 d-flex align-items-center" role="alert">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-check-circle-fill me-2" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                    <strong>{{alerts.success}}</strong>
                                </div>  
                                <div *ngIf="alerts.error.length"  class="alert alert-warning mt-5 d-flex align-items-center" role="alert">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg> 
                                    <strong>{{alerts.error}}</strong>
                                </div>                      
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>       
    </div>           
</section>

