<!-- PerfilUsuario Heather-->
<section class="page-section" id="perfilUsuario">
    <div *ngIf="!fullProfile && canEdit" class="alert alert-danger mt-5 d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg> 
        <strong style="margin-right:20px;">{{'alerts.profile_false' | translate}}</strong>
        <a (click)="gotToConfigurationPage()" class="btn btn-secondary mb-2">{{'profile_page.edit_profile_btn' | translate}}</a>
    </div>
    <div class="container">     
        <h2 class="text-muted p-3">{{'profile_page.title' | translate}}</h2>
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
           
            <div class="px-4 pt-0 pb-4 bg-dark">   
                      <!-----------------Div para la descripción de usuario------------------------------>
                      <div class="userDescription ">
                        <blockquote>{{profileContent.aboutMe}}</blockquote>
                      </div>
                <div class="media d-flex align-items-end profile-header"> 
                    <div class="profile">
                        <div class="img-container">
                            <img src="{{profileContent.picture || './assets/img/user-icons/generic_user.png'}}" alt="..." width="160" class="rounded mb-2 img-thumbnail">                           
                        </div>
                    <div *ngIf="canEdit">
                        <a (click)="gotToConfigurationPage()" class="btn btn-secondary mb-2">{{'profile_page.edit_profile_btn' | translate}}</a> 
                        <!-- <a href="#" class="btn btn-secondary mb-2">Cambiar Contraseña</a> -->                                     
                    </div>                                
                    </div>                           
                    <div class="media-body mb-5 ms-3 text-white align-items-center">
                        <h4 class="mt-0 mb-0">{{profileContent.firstName}} {{profileContent.lastName}}</h4>
                        <p class="small mb-4"> <i class="fa fa-map-marker me-2"></i>{{profileContent.city}}, {{profileContent.province}}</p>
                    </div> 

                    
                                                      
                </div>                        
            </div>
        
            <div class="bg-light p-4 d-flex aling-items-center justify-content-end ">   
                
               
                <ul class="list-inline mb-0">     
                                               
                    <li class="list-inline-item">
                        <h4 class="font-weight-bold mb-2 d-block">{{'profile_page.balance' | translate}}</h4>
                        <div class="d-flex align-items-center">
                            <span class="fa-stack fa-1x">
                                <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                                <i class="far fa-hourglass fa-stack-1x fa-inverse"></i>                                                                              
                            </span>  
                            <h4 *ngIf="fullProfile" class="mb-0 text-muted text-center p-1">{{profileContent.credit}} {{'profile_page.hours' | translate}}</h4>
                        </div>
                        
                        
                        <div *ngIf="fullProfile && canEdit" class="mb-2 mt-2 text-center ">
                            <a (click)="goToNewActivitiePage()" class="btn btn-secondary ">{{'profile_page.new_activitie_span' | translate}}</a>                                                              
                        </div> 
                    </li>
                </ul>                
            </div>
           
        </div>
        
    </div>                  
    
</section>



<section  class="page-section">

    <div class="container">
           
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active border" id="nav-publicaciones-tab" data-bs-toggle="tab" data-bs-target="#nav-publicaciones" type="button" role="tab" aria-controls="nav-publicaciones" aria-selected="true">{{'profile_page.publications_tab' | translate}}</button>
                <button class="nav-link border" id="nav-interacciones-tab" data-bs-toggle="tab" data-bs-target="#nav-interacciones" type="button" role="tab" aria-controls="nav-interacciones" aria-selected="false">{{'profile_page.interactions_tab' | translate}}</button>
                <button class="nav-link border" id="nav-solicitudes-tab" data-bs-toggle="tab" data-bs-target="#nav-solicitudes" type="button" role="tab" aria-controls="nav-solicitudes" aria-selected="true">{{'profile_page.requests_tab' | translate}}</button>
            </div>
        </nav>
                   
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active py-4 px-4" id="nav-publicaciones" role="tabpanel" aria-labelledby="nav-publicaciones-tab" tabindex="0">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">{{'profile_page.publications_title' | translate}}</h5>
                </div>
                <p>{{profileActivities.length}} {{'profile_page.activities_text' | translate}}</p>
                <div class="row" id="portfolio">
                    <div *ngFor="let activitie of profileActivities" class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item-->
                        <div class="portfolio-item shadow rounded  ">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#modal{{activitie.id}}">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{{activitie.picture}}" alt="..." />
                            </a>
                            <div class="portfolio-caption py-3 d-block">
                                <h5 class="mt-3 text-center">{{activitie.title}}</h5>
                                <h5 class="text-muted text-center">{{activitie.category_es}}</h5>
                                <h6 class="text-center pb-2 ">{{activitie.dateActivity}}</h6>                                
                            </div>
                        </div>
                    <!-- Portfolio Modal-->
                    <div class="portfolio-modal modal fade" id="modal{{activitie.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
                                </div>
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <h2 class="text-uppercase">{{activitie.title}}</h2>
                                            <p class="item-intro text-muted">{{activitie.city}}, {{activitie.province}}</p>
                                            <p><strong>{{'profile_page.category' | translate}}:</strong> #{{activitie.category_es}} </p>
                                            <div class="modal-body aling-items-center cambio">
                                            
                                                <!-- Project details-->
                                                <div class="col-lg-6 col-sm-12 me-3">
                                                    <img class="img-fluid d-block mx-auto" src="{{activitie.picture}}" alt="imagen prueba" />   
                                                    <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla architecto aperiam sapiente odit incidunt deserunt atque facilis quos, corporis sit blanditiis. Sapiente aspernatur, consequatur omnis suscipit error eius cum illum.</p>                                                 
                                                </div>
                                                <div class="col-lg-6 col-sm-12 ms-3">
                                                    
                                                    <ul class="list-inline">                
                                                        <li>
                                                            <strong>{{'profile_page.category' | translate}}:</strong>#{{activitie.category_es}}
                                                        </li>
                                                    </ul>
                                                    <button *ngIf="selectedProfile!==userId" class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal"
                                                        type="button">
                                                        {{'home_page.sect2.modal_button' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    </div>
                </div>
            </div> 

             <!--Interacciones-->           
             <div class="tab-pane fade py-4 px-4" id="nav-interacciones" role="tabpanel" aria-labelledby="nav-interacciones-tab" tabindex="0">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">{{'profile_page.interactions_title' | translate}}</h5>
                </div>
                <p>Result: {{profileInteractions.length}}</p>
                <div class="row">
                    <div class="col"> 
                        <p *ngFor="let interaction of profileInteractions"></p>
                    </div>
                    
                </div>
            </div>
            
             <!--Solicitudes-->           
             <div class="tab-pane fade py-4 px-4" id="nav-solicitudes" role="tabpanel" aria-labelledby="nav-solicitudes-tab" tabindex="0">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">{{'profile_page.requests_title'}}</h5>
                </div>
                
                <div class="row userRequests">
                    <ul>
                        <li class="d-flex justify-content-between align-items-center">
                            <div class="col-md-6">
                                <p><strong>TO-DO ->@nosekien</strong> {{'profile_page.out_request.text' | translate}} <strong> TO-DO -> Titulo de actividad</strong></p>
                                <p>{{'profile_page.out_request.state' | translate}}: <strong>TO-DO->Aceptada</strong></p>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <button class="col-md-3 btn btn-primary">{{'profile_page.out_request.accept' | translate}}</button>
                                <button class="col-md-3 btn btn-primary mx-3 ">{{'profile_page.out_request.reject' | translate}}</button>
                                <button class="col-md-3 btn btn-primary">{{'profile_page.out_request.finish' | translate}}</button>
                            </div>                            
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <div class="col-md-6">
                                <p><strong>TO-DO -> @nosekin </strong>{{'profile_page.in_request.text' | translate}}:  <strong>TO-DO -> Titulo de actividad</strong></p>
                                <p>{{'profile_page.in_request.state' | translate}}: <strong>TO-DO->Aceptada</strong></p>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <button class="col-md-3 btn btn btn-primary  mx-3">{{'profile_page.in_request.cancel' | translate}}</button>                                                          
                                <button class="col-md-3 btn btn-primary" data-bs-toggle="modal" href="#assingHours">{{'profile_page.in_request.finish' | translate}}</button>
                            </div>                            
                        </li>
                    </ul>                    
                </div>
            </div>
                                 

<!-- Modal para asignar las horas en el botón Finalizar -->

<div class="portfolio-modal modal fade" id="assingHours" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center" >
                    <div class="col-lg-8">
                        <div class="modal-body d-block  ">
                            <!-- Project details-->  
                            <h2 class="text-uppercase mb-4">Enviar tiempo</h2>
                            <p class="align-self-start item-intro text-muted">Añade el tiempo al usuario con el que colaboraste para que las sume a su bolsa de horas</p>

                            <div class="input-group mb-3 w-50 mx-auto">
                                <input type="number" class="form-control" placeholder="Añade el número de horas" aria-label="hours input" aria-describedby="button-addon2">
                                <button class="btn btn-primary text-uppercase fw-bold" type="button" id="button-addon2">Enviar tiempo</button>
                            </div> 
                            
                            <!--ESTOS ALERTS LOS HE PUESTO PARA QUE EXISTA COMO UNA RESPUESTA AL USUARIO, SI NO OS PARECE QUITAMOS-->
                           
                                <div class="alert alert-success mt-5 d-flex align-items-center" role="alert">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-check-circle-fill me-2" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                    <strong>El tiempo se ha enviado correctamente.</strong>
                                </div>  
                                <div  class="alert alert-warning mt-5 d-flex align-items-center" role="alert">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg> 
                                    <strong>Algo ha fallado. Intentalo de nuevo mas tarde.</strong>
                                </div>                      
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
            


            <h3 style="color:red;margin-top:300px;">Card para pruebas de diseño</h3>
            <div class="row" id="portfolio">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item shadow-sm cardItem pt-2">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/2.jpg" alt="..." />
                        </a>
                        <div class="portfolio-caption d-block ">
                            <h5 class="portfolio-caption-subheading text-muted text-center ">22-08-2022</h5>
                            <h5 class="portfolio-caption-subheading text-muted text-center">Clases de conducir</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>       
    </div>           
</section>

